ValueError on path remove_dot_segments when there's extra dot-dot (`/../`) segments

🐞 **Describe the bug**
As described in [RFC 3986 § 5.2.4.  Remove Dot Segments](https://tools.ietf.org/html/rfc3986#section-5.2.4), the `remove_dot_segments` algorithm removes any *extra* `/../` parts of the URL, ignoring errors when the stack is empty.

However, `yarl.URL()` behavior at the moment is to raise an exception, `ValueError`, when that happens.

💡 **To Reproduce**
Instantiate URL class with such a URL string:
```python
yarl.URL('https://example.com/alice/../../eve')
```

💡 **Expected behavior**
Follow the RFC, and ignore the error, to get it working like this:
```python
In [16]: yarl.URL('https://example.com/alice/../eve')
Out[16]: URL('https://example.com/eve')

In [17]: yarl.URL('https://example.com/alice/../../eve')
Out[17]: URL('https://example.com/eve')

In [18]: yarl.URL('https://example.com/alice/../../../eve')
Out[18]: URL('https://example.com/eve')
```

We probably want to also test (and fix, if needed), any other parts of the API that would involve path resolution (including `remove_dot_segments`) steps.

📋 **Logs/tracebacks**
```python-traceback (paste your traceback in the next line)
In [15]: yarl.URL('https://example.com/alice/../../eve')
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-15-e72c86c9e132> in <module>()
----> 1 yarl.URL('https://example.com/alice/../../eve')

~/ans/venv/lib/python3.6/site-packages/yarl/_url.py in __new__(cls, val, encoded, strict)
    181                 path = cls._normalize_path(path)
    182
--> 183             cls._validate_authority_uri_abs_path(host=host, path=path)
    184             query = cls._QUERY_REQUOTER(val[3])
    185             fragment = cls._FRAGMENT_REQUOTER(val[4])

~/ans/venv/lib/python3.6/site-packages/yarl/_url.py in _validate_authority_uri_abs_path(host, path)
    675         if len(host) > 0 and len(path) > 0 and not path.startswith("/"):
    676             raise ValueError(
--> 677                 "Path in a URL with authority should start with a slash ('/') if set"
    678             )
    679

ValueError: Path in a URL with authority should start with a slash ('/') if set
```

📋 **Your version of the Python**
<!-- Attach your version of the Python. -->
```console
$ python --version
Python 3.6.10
```

📋 **Your version of the aiohttp/yarl/multidict distributions**
<!-- Attach your version of the distributions in the code blocks below. -->
```console
$ python -m pip show aiohttp
Name: aiohttp
Version: 3.6.2
```
```console
$ python -m pip show multidict
Name: multidict
Version: 4.7.6
```
```console
$ python -m pip show yarl
Name: yarl
Version: 1.6.2
```

📋 **Additional context**
The proposed behavior would put `yarl.URL` on par with DOM's `URL` object, which already follows the RFC on this:
```javascript
> String(new URL("https://example.com/alice/../eve"))
< "https://example.com/eve"
> String(new URL("https://example.com/alice/../../eve"))
< "https://example.com/eve"
> String(new URL("https://example.com/alice/../../../eve"))
< "https://example.com/eve"
```

As well as `rust-url` library (from [the unit tests](https://github.com/servo/rust-url/blob/a46bec6e54284fe12a2ce0eb9ac43adae4881502/url/tests/urltestdata.json#L1841-L1885)):

```javascript
  {
    "input": "http://example.com/foo/bar/../ton/../../a",
    // ...
    "pathname": "/a",
    // ...
  },
  {
    "input": "http://example.com/foo/../../..",
    // ...
    "pathname": "/",
    // ...
  },
  {
    "input": "http://example.com/foo/../../../ton",
    // ...
    "pathname": "/ton",
    // ...
  },
```

which has tests based on (warning: broken links):
```javascript
  "# Based on http://trac.webkit.org/browser/trunk/LayoutTests/fast/url/script-tests/segments.js",
  "# AS OF https://github.com/jsdom/whatwg-url/commit/35f04dfd3048cf6362f4398745bb13375c5020c2",
```

Interesting.
I (maybe wrong) read the RFC as "remove_dot_segments is applicable to path joining procedure only".
I agree that the same behavior as mentioned JavaScript and Rust libraries is desirable.

A pull request is welcome!

So, here's the relevant pieces from the RFC:

![image](https://user-images.githubusercontent.com/45701775/104786699-840f8600-5742-11eb-9c4c-cb82999a4d8b.png)

And:

![image](https://user-images.githubusercontent.com/45701775/104786749-b02b0700-5742-11eb-880b-d64e8e006d0e.png)

And the algorithm under section *5.2.2.  Transform References*.

I think what we need to pay attention to is the difference between a "Reference URL" and a "Target URL". A Target URL is expected to be *resolved* and *normalized*, meaning that it's expected to not have any `.` or `..` sequences.

From that perspective, I believe the input to `yarl.URL()` is expected to be a Reference URL. Does that sound about right?

----

We could also consider comparing the rules with https://url.spec.whatwg.org/ , which seem to be more close to the common "URL Library" implementations.

----

Anyways, since we do desire the compatibility, as suggested above, I'm going to get it to work as suggestion.

> which has tests based on (warning: broken links):
> 
> ```js
>   "# Based on http://trac.webkit.org/browser/trunk/LayoutTests/fast/url/script-tests/segments.js",
>   "# AS OF https://github.com/jsdom/whatwg-url/commit/35f04dfd3048cf6362f4398745bb13375c5020c2",
> ```

The last revision in the Webkit LayouTests repository with such a file is [149680](https://trac.webkit.org/browser/trunk/LayoutTests/fast/url/script-tests/segments.js?rev=149680); the next rev folded the `segments.js` file into [`segments.html`](https://trac.webkit.org/browser/trunk/LayoutTests/fast/url/segments.html). It doesn't actually contain any tests for `..` and `.` handling.

If you were looking at [`urltestdata.json`](https://github.com/web-platform-tests/wpt/blob/master/url/resources/urltestdata.json) (on which the Rust tests are actually based), you may have missed that there are multiple `# Based on` comments, the [relevant section](https://github.com/web-platform-tests/wpt/blob/a8393d01f484ff9446568c9d25d986221107c9ec/url/resources/urltestdata.json#L1749-L2289) is based on `paths.js` in the same Webkit test suite, nowadays at [`LayoutTests/fast/url/paths.html`](https://trac.webkit.org/browser/webkit/trunk/LayoutTests/fast/url/path.html)

Thanks for working on this, @mjpieters! I generally agree with the direction here.

Specifically, I think not-raising-an-exception is the most-important problem to fix here, as it causes processing of user-provided data to fail in a place where no such errors are expected.